body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Sayfanın yüksekliğini 100vh yaparak footer'ın alt kısmı sayfa boyutuna göre uyum sağlıyor */
    display: flex;
    flex-direction: column;
    text-align: left; /* Body'de genel olarak sola hizalama */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center; /* Header'ı ortada tutuyoruz */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Navigasyon menüsünü ortada tutuyoruz */
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

a {
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    border: 2px solid #bbb;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #bbb;
    color: white;
}

main {
    padding: 20px;
    text-align: left; /* Main kısmını sola hizalıyoruz */
    flex-grow: 1;
    padding-bottom: 60px;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center; /* Footer'ı ortada tutuyoruz */
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 10;
}

footer a {
    color: #ddd;
}

footer a:hover {
    color: white;
}
